body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 88%);
}

main {
    flex: 2;
}

.section-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}

#results {
    font-family: 'Cinzel', serif;
    font-size: 28px;
}

#model {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

#score_tag {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

#agreement {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

#subjectivity {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

#confidence {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

#irony {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}
#irony {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}